<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diary.crazy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.diary.crazy.CrazyDemos"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- UI begin here -->
        <activity
            android:name=".chapter02.CodeViewActivity"
            android:label="@string/codeViewActivity" >
            <intent-filter>
                <action android:name="android.intent.diary.Action" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter02.CustomViewActivity"
            android:label="@string/customViewActivity" >
            <intent-filter>
                <action android:name="android.intent.diary.Action" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter02.MixViewActivity"
            android:label="@string/mixViewActivity" >
            <intent-filter>
                <action android:name="android.intent.diary.Action" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter02.AbsoluteLayoutActivity"
            android:label="@string/absoluteLayoutActivity" >
            <intent-filter>
                <action android:name="android.intent.diary.Action" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter02.FrameLayoutActivity"
            android:label="@string/frameLayoutActivity" >
            <intent-filter>
                <action android:name="android.intent.diary.Action" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter02.LinearLayoutActivity"
            android:label="@string/linearLayoutActivity" >
            <intent-filter>
                <action android:name="android.intent.diary.Action" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter02.RelativeLayoutActivity"
            android:label="@string/relatvieLayoutActivity" >
            <intent-filter>
                <action android:name="android.intent.diary.Action" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter02.MarginPaddingLayoutActivity"
            android:label="@string/marginPaddingLayoutActivity" >
            <intent-filter>
                <action android:name="android.intent.diary.Action" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter02.TableLayoutActivity"
            android:label="@string/tableLayoutActivity" >
            <intent-filter>
                <action android:name="android.intent.diary.Action" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter02.NinepatchActivity"
            android:label="@string/ninepatchActivity" >
            <intent-filter>
                <action android:name="android.intent.diary.Action" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter02.DynamicButtonActivity"
            android:label="@string/dynamicButtonActivity" >
            <intent-filter>
                <action android:name="android.intent.diary.Action" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
          <activity
            android:name=".chapter02.CheckButtonActivity"
            android:label="@string/checkButtonActivity" >
            <intent-filter>
                <action android:name="android.intent.diary.Action" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- chapter03 begin here -->
         <activity
            android:name=".chapter03.ActivityListener"
            android:label="@string/activityListener" >
            <intent-filter>
                <action android:name="android.intent.diary.Action" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        
          <!-- chapter07 begin here -->
                 <activity
            android:name=".chapter07.BitmapActivity"
            android:label="@string/bitmapActivity" >
            <intent-filter>
                <action android:name="android.intent.diary.Action" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
                     <activity
            android:name=".chapter07.CanvasActivity"
            android:label="@string/canvasActivity" >
            <intent-filter>
                <action android:name="android.intent.diary.Action" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
                                    <activity
            android:name=".chapter07.HandDrawActivity"
            android:label="@string/handDrawActivity" >
            <intent-filter>
                <action android:name="android.intent.diary.Action" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
          <activity
            android:name=".chapter07.PathTextActivity"
            android:label="@string/pathTextActivity" >
            <intent-filter>
                <action android:name="android.intent.diary.Action" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
                  <activity
            android:name=".chapter07.PathActivity"
            android:label="@string/pathActivity" >
            <intent-filter>
                <action android:name="android.intent.diary.Action" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
                      <activity
            android:name=".chapter07.PinBallActivity"
            android:label="@string/pinBallActivity" >
            <intent-filter>
                <action android:name="android.intent.diary.Action" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
                                   <activity
            android:name=".chapter07.BlastActivity"
            android:label="@string/blastActivity" >
            <intent-filter>
                <action android:name="android.intent.diary.Action" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
                                     <activity
            android:name=".chapter07.SurfaceViewTestAcivity"
            android:label="@string/surfaceViewTestAcivity" >
            <intent-filter>
                <action android:name="android.intent.diary.Action" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
                                         <activity
            android:name=".chapter07.ShowWaveActivity"
            android:label="@string/showWaveActivity" >
            <intent-filter>
                <action android:name="android.intent.diary.Action" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
                              
        <!-- Lecture begin here -->
                                         <activity
            android:name=".lecture.SelfDefinedUIActivity"
            android:label="@string/selfDefinedUIActivity" >
            <intent-filter>
                <action android:name="android.intent.diary.Action" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
                                      <activity
            android:name=".lecture.HandDrawActivity"
            android:label="@string/handDrawWithView" >
            <intent-filter>
                <action android:name="android.intent.diary.Action" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
                                          <activity
            android:name=".lecture.DrawCustomActivity"
            android:label="@string/drawCustomActivity" >
            <intent-filter>
                <action android:name="android.intent.diary.Action" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>                
                                                 <activity
            android:name=".lecture.SurfaceViewActivity"
            android:label="@string/surfaceViewActivity" >
            <intent-filter>
                <action android:name="android.intent.diary.Action" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>                        
                                                    <activity
            android:name=".lecture.SinSurfaceActivity"
            android:label="@string/sinSurfaceActivity" >
            <intent-filter>
                <action android:name="android.intent.diary.Action" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>                                 
                                      
          
    </application>

</manifest>